#bg_One { 
    height: 100vh !important;
    background-color: #000300 !important;
}

.text-one {
    color: #FFFFFC !important;
}

.text-two { 
    color: #CDDDDD !important;
    font-size: larger;
}
