@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.text-font { 
    font-family: 'Roboto', sans-serif;
}

.text-decor { 
    text-decoration: none;
}

.text-decor:hover > h5 { 
    color: rebeccapurple !important;
    transform: translateY(-5px);
    transition-duration: 0.4s;
}

.text-decor:active >h5 {
    color: rebeccapurple !important;
    transform: translateY(5px);
    transition-duration: 0.4s;
}

.bg-indico { 
    background-color: #15253F;
}