.text-blue { 
    color: #020300 !important;
    font-size: x-large;
}

.log-in {
    text-decoration: none !important;
    color:red;
    font-size: large;
}
.log-in:hover  {
    color: #020300;
}
.image-own {
    width: 90% !important;
    height: 700px;
    margin-left: -50px;
    object-fit: contain;
    object-position: center;
}
